body{
    background-color: #D5D5D5;
    font-family: system-ui;
}
.main{
    background-color: #E9E7EA;
    width:1000px;
    max-width: 100%;
    margin:auto;
    padding:50px;
    box-shadow: 0 10px 50px #858585;
    display: grid;
   grid-template-columns: 40% 60%;
   column-gap: 5%; 
   row-gap: 30px;
}
.name {
    text-align: center;
    color: rgb(0, 153, 255);
}

.avt {
    display: block;
    text-align: center;
}
.avt img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white
}
.left {
    background-color: rgba(24, 185, 214, 0.185);
    margin: 5px 5px;
}
ul {
    list-style: none;
    margin-right: 50px;
}
li {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
h3 {
    margin-left: 10px;
}
P {
    text-align: justify;
    max-width: 500px;
    margin-left: 10px;
}
.info, .skill, .mt, .st, .ex {
    border-bottom: 2px solid rgba(0, 153, 255, 0.911);  
}
.info span {
    width:20px;
    height:20px;
    margin-right: 20px;
    color: rgba(0, 153, 255, 0.911);  

}
