body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf2f4;
}

.row1 {
    width: 25vw;
    height: 100vh;
    background-color: rgba(233, 200, 101, 0.5);
    float: left;
}
.img {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%; 
    border: 3px solid #2e098c;     
}
