html {
    font-size: 62.5%;
}
body {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #edf2f4;
    font-size: 16px;
}

.row1 {
    width: 25vw;
    height: 100vh;
    background-color: rgba(249, 195, 33, 0.895);
    float: left;
}

.img {
    display: block;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%; 
    border: 3px solid #2e098c;  
    object-fit: cover;  
}

.name {
    font-size: 100%;
    text-align: center;
    margin-top: 10px;
}
